.white {
  color: #fff;
  fill: #fff;
}
.light-gray {
  color: #ededed;
}
.white-10 {
  color: rgba(255,255,255,.1);
}
.white-20 {
  color: rgba(255,255,255,.2);
}
.white-30 {
  color: rgba(255,255,255,.3);
}
.white-50 {
  color: rgba(255,255,255,.5);
}
.black {
  color: #0b0b0b;
  fill: #0b0b0b;
}
.black-30 {
  color: rgba(0,0,0,.3);
  fill: rgba(0,0,0,.3);
}
.black-10 {
  color: rgba(0,0,0,.1);
  fill: rgba(0,0,0,.1);
}
.dark-gray {
  color: #121212;
}
.medium-gray {
  color: #4a4a4a;
}
.rust {
  color: #a64141;
  fill: #a64141;
}
.lime {
  color: #a2ff00;
  fill: #a2ff00;
}
.cash {
  color: cyan;
  fill: cyan;
}
.bd-c-cash {
  border-color: #49E256;
}
.teal {
  color: #42FDA0;
  fill: #42FDA0;
}
.green {
  color: #09b57c;
  fill: #09b57c;
}
.dark-rose {
  color: #754855;
  fill: #754855;
}
.orange {
  color: #ff6633;
  fill: #ff6633;
}
.pink {
  color: #E6678E;
  fill: #E6678E;
}
.gray {
  color: #949393;
  fill: #949393;
}
.gray-50 {
  color: rgba(94,94,94,.5);
}
.red {
  color: #DE0B2C;
  fill: #DE0B2C;
}
.gold {
  color: #ac9356;
  fill: #ac9356;
}
.gold-2 {
  color: #867a5b;
  fill: #867a5b;
}
.dark-blue {
  color: #060031;
}
.magenta {
  color: #E52C58;
}
.transparent {
  color: transparent;
}

.bg-white {
  background: white;
}
.bg-white-80 {
  background: rgba(255,255,255,.8);
}
.bg-black {
  background: #0b0b0b;
}
.bg-light-green {
  background: #E7FBE2
}
.bg-light-grey {
  background-color: #E9E9E9;
}
.bg-red {
  background-color: #DE0B2C;
}
.bg-cash {
  background: #25cb50;
}
.bg-dark-cash {
  background-color: #228C3D;
}
.bg-dark-blue {
  background-color: #060031;
}
.bg-dark-gray {
  background: #121212;
}
.bg-white-05 {
  background: rgba(255,255,255,.05);
}
.bg-white-10 {
  background: rgba(255,255,255,.1);
}
.bg-white-20 {
  background: rgba(255,255,255,.2);
}
.bg-white-30 {
  background: rgba(255,255,255,.3);
}
.bg-white-50 {
  background: rgba(255,255,255,.5);
}
.bg-black-20 {
  background: rgba(0,0,0,.2);
}
.bg-black-30 {
  background: rgba(0,0,0,.3);
}
.bg-black-50 {
  background: rgba(0,0,0,.5);
}
.bg-black-80 {
  background: rgba(0,0,0,.8);
}
.bg-black-90 {
  background: rgba(0,0,0,.9);
}
.bg-black-95 {
  background: rgba(0,0,0,.95);
}
.bg-orange {
  background-color: #FC673D;
}
.bg-blue {
  background-color: #0D2BFF;
}
.bg-dark-red {
  background-color: #830925;
}
.bg-trans {
  background-color: transparent;
}
.bg-magenta {
  background-color: #CA3353;
}
.bg-dark-purple {
  background-color: #301036
}

.bg-twitter-blue {
  background-color: #00aced;
}
.bg-fb-blue {
  background-color: #3b5998;
}

.bd-light-green {
  border-color: #E7FBE2;
}
.bd-light-gray {
  border-color: #eee;
}
.bd-c-white-10 {
  border-color: rgba(255,255,255,.1) !important;
}
.bd-c-white-20 {
  border-color: rgba(255,255,255,.2);
}
.bd-c-black {
  border-color: #0b0b0b;
}
.bd-c-magenta {
  border-color: #E52C58;
}

.bd-c-magenta-gradient {
  border-color: #7FA4F7;
  border-image: linear-gradient(to right, #CE3E67, #401042) 100% 0;
}

.ol-white {
  outline-color: white;
}

@media (min-width: 960px) {
  .ms-white {
    color: white;
  }
  .ms-cash {
    color: #25cb50;
    fill: #25cb50;
  }
  .ms-white-30 {
    color: rgba(255,255,255,.3);
  }
  .ms-bg-black {
    background: #0b0b0b;
  }
  .ms-bg-black-30 {
    background: rgba(0,0,0,.3);
  }
  .ms-bg-white-10 {
    background: rgba(255,255,255,.1);
  }
  .ms-bg-dark-gray {
    background: #121212;
  }
  .ms-bg-cash {
    background: #25cb50;
  }
}

button.bg-white-20:hover {
  background: white;
  color: #0b0b0b;
}

.bg-dark-gradient {
  background: linear-gradient(to right, #050035 0%,#340a3a 100%);
}
.magenta-gradient {
  color: #D81668;
  background-image: -webkit-linear-gradient(0deg, #CE3E67, #7FA4F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.dark-gradient {
  color: #330A3A;
  background-image: -webkit-linear-gradient(0deg, #CE3E67, #401042);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.bluewhite-gradient {
  color: #fff;
  background-image: -webkit-linear-gradient(0deg, #DF4C8A, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.bg-pattern {
  background-image: url(../../images/patternbg.png);
  background-size: 200px;
}
.bg-dashes {
  background-image: url(../../images/bg-dashes.png);
  background-size: 600px;
}
.bg-divider {
  // background-image: url(../../images/dividerBg.png);
  // background-size: 200px;
  // background-repeat-y: no-repeat;
  background-color: #EEEEF0;
}
.bg-pattern-tri {
  background-image: url(../../images/trianglePattern.png);
  background-size: 100px;
}
