.col__lines {
  display: none;
}

body {

}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: ~'calc(2.1rem + (3.5 - 2.1) * (100vw - 20rem) / (105 - 20))';
  line-height: 1 !important;
  margin: 0 0 20px;
}
h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.2;
  margin: 0;
}
h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}
h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .93rem;
  font-style: normal;
  line-height: 1.15;
  font-weight: 500;
  margin: 0;
  @media (min-width: 960px) {
    font-size: 1.15rem;
  }
}
h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .9rem;
  line-height: 1.15;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}
p,
blockquote {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.8;
  max-width: 560px;
}

.f-s-body {
  font-size: 1.125rem;
}

/*blockquote {
  opacity: 0;
  transition: .5s;
}
blockquote.is-in {
  opacity: 1;
}*/

label {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .05rem;
  border: none;
  outline: none;
  transition: .3s;
  border: 2px solid transparent;
}
button:hover {
  fill: black;
  background: transparent;
  color: #DE0B2C;
  border-color: #DE0B2C;
  opacity: 1;
}
input {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .05rem;
  border: none;
  outline: none;
}

a { color: #fff;
  text-decoration: none;
  font-size: 1em;
}
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0;}

::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.6;
}
:-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}
::-moz-placeholder {
  color: #fff;
  opacity: 0.6;
}
:-moz-placeholder {
  color: #fff;
  opacity: 0.6;
}

.font-headline {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// body:after {
//   content: '';
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background: black;
//   z-index: 1000;
//   transition: 1s;
// }

.js-name-is {
  transition: .5s;
  opacity: 0;
}
.js-title {
  transition: 1s;
  transition-delay: .5s;
  opacity: 0;
}
.js-name {
  span {
    opacity: 0;
  }
  span > span {
    opacity: 0;
    transform: translate3d(0,8px,0);
  }
}

body.is-in {
  &:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .js-name-is,
  .js-title {
    opacity: 1;
  }
  .js-name {
    span {
      opacity: 1;
    }
    span > span {
      opacity: 1;
      transition: 2s;
      transform: none;
    }
    span > span:hover {
      opacity: .5;
      transition: 0.2s ease-out !important;
      transition-delay: 0s !important;
    }
  }
}
.screen{
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  // background: url(../../images/screen.png);
  background-size: 16.6667vw 16.6667vh;
  opacity: .4;
  pointer-events: none;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  pointer-events: none;
}

.outputs {
  // display: flex;
  // justify-content: space-between;
  align-items: flex-start;
  opacity: 1;
  transition: .3s;
  width: 100%;
  .output {
    width: 20%;
    padding: 10px 5px 10px 1px;
    position: relative;
    margin: 0;
    font-size: .7rem;
    line-height: 1.3;
    color: rgba(255,255,255,.7);
    @media (min-width: 800px) {
    }
    .output-label {
      display: none;
    }
    .output-bar {
      position: relative;
      height: 4px;
      width: 100%;
      background: rgba(200,16,50,.5);
      margin-bottom: 6px;
      .output-bar-fill {
        position: relative;
        transition: .1s;
        background: #D81668;
        width: 1px;
        height: 100%;
      }
    }
  }
}
.is-scrolled {
  .outputs {
    opacity: .1;
  }
}

.mood {
  @media (min-width: 800px) {
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
  }
  @media (min-width: 1200px) {
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
  }
}

.mood img {
  width: 100%;
}

.growth path {

}


// .dial1 {
//   animation: spin 2s 1000;
// }
// .dial2 {
//   animation: spin 1s 1000;
// }
// .dial3 {
//   animation: spin 3s 1000;
// }

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.graphic1-spiral1 {
  transition: 3s ease-in-out;
  transform: translate3d(-50%,-50%,0) rotate(0deg);
  animation: spin-centered 2s linear 1000;
  path {
    stroke-dashoffset: -200px;
    stroke-dasharray: 200px;
    transition: 1.4s all ease-in-out 1.1s;
  }
  circle {
    transform-origin: 50% 50%;
    transform: scale(.03);
    stroke-width: 8px;
    transition: 1.4s all ease-in-out 1.1s;
  }
}
.graphic-lines {
  transition: 1s;
  line {
    transition: .3s ease-in-out;
    opacity: .5;
  }
}

svg {
  .dial-ring {
    stroke-dashoffset: 80px;
    stroke-dasharray: 80px;
    transition: 3s;
  }
  &:nth-of-type(2) {
    .dial-ring {
      transition: 2s;
      transition-delay: .5s;
    }
  }
  &:nth-of-type(3) {
    .dial-ring {
      transition: 1.2s;
      transition-delay: 1s;
    }
  }
}

.growth path {
  stroke-dashoffset: -390px;
  stroke-dasharray: 390px;
  transition: 4s stroke-dashoffset, 1s stroke;
}

.graphic4-spiral {
  animation: spin 4s ease-in-out infinite;
}

.graphic4-lines line {
  transition: .3s ease-out;
}

.dial-ring-4 {
  stroke-dashoffset: 80px;
  stroke-dasharray: 80px;
  animation: fill 5s ease-in-out infinite;
}

@keyframes fill {
  0% {
    stroke-dashoffset: 80px;
  }
  50% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: -80px;
  }
}
.graphic3-slider {

}
.graphic3-spiral {
  animation: spin-loop 2s linear infinite;
}
.bounce1 {
  animation: bounce1 5s ease-in-out infinite;
}
.bounce2 {
  animation: bounce2 5s ease-in-out infinite;
}
@keyframes shift-color {
  0% {
    stroke: rgba(206,61,100,1);
    fill: rgba(206,61,100,.1);
  }
  50% {
    stroke: rgba(4,0,58,1);
    fill: rgba(206,61,100,.6);
  }
  100% {
    stroke: rgba(206,61,100,1);
    fill: rgba(206,61,100,.1);
  }
}
@keyframes bounce1 {
  0% {
    transform: translate3d(49%,0,0) scaleX(-1);
  }
  50% {
    transform: translate3d(0,0,0) scaleX(-1);
  }
  100% {
    transform: translate3d(49%,0,0) scaleX(-1);
  }
}
@keyframes bounce2 {
  0% {
    transform: translate3d(-49%,0,0);
  }
  50% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(-49%,0,0);
  }
}
@keyframes spin-loop {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-loop3 {
  0% {
    transform: rotate(0) translate3d(-58%,50%,0) scale(.8);
  }
  50% {
    transform: rotate(180deg) translate3d(0,0,0) scale(1.5);
  }
  100% {
    transform: rotate(360deg) translate3d(-58%,50%,0) scale(.8);
  }
}

.slider {
  animation: slide 5s ease-in-out infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-250%);
  }
  50% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(-250%);
  }
}

.cloud {
  g {
    transform-origin: 50%;
    animation: spin 5s linear infinite;
    transform-origin: 50%;
    background: white;
    border: 2px solid;
    &:nth-of-type(2) {
      animation: spin 4s linear infinite;
    }
    &:nth-of-type(3) {
      animation: spin 3s linear infinite;
    }
    &:nth-of-type(4) {
      animation: spin 2s linear infinite;
    }
    path {
      animation: pulse-line 4s ease-in-out infinite;
    }
  }
  circle {
    animation: pulse-line 4s ease-in-out infinite;
  }
}

@keyframes pulse-line {
  0% {
    stroke: #CA3353;
  } 50% {
    stroke: #9DB2ED;
  } 100% {
    stroke: #CA3353;
  }
}


.control-line {
  stroke-dashoffset: 1500px;
  stroke-dasharray: 1500px;
  transition: 2.5s ease-in-out;
}

.deploy g {
  position: absolute;
  transform-origin: 50% 50%;
  path {
    stroke-width: 1.1;
  }
  &:nth-of-type(2) {
    animation: spin 3s linear infinite;
    path {
      stroke-width: 8px;
      stroke: #CA3353;
    }
  }
}

.deploy-circle {
  transform-origin: 50%;
  animation: pulse 4s ease-in-out infinite;
}
.deploy-line {
  stroke-dashoffset: 30px;
  stroke-dasharray: 30px;
  animation: move-line 4s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    fill: #CA3353;
    stroke: #CA3353;
  } 50% {
    fill: #9DB2ED;
    stroke: #9DB2ED;
    transform: scale(2);
    transform-origin: 50%;
  } 100% {
    fill: #CA3353;
    stroke: #CA3353;
  }
}


@keyframes move-line {
  0% {
    stroke-dashoffset: 400px;
    stroke: #CA3353;
  } 50% {
    stroke-dashoffset: 0px;
    stroke: #9DB2ED;
  } 100% {
    stroke-dashoffset: 400px;
    stroke: #CA3353;
  }
}
