<footer class="pos-r w-fs d-f j-c-between p-h-col05 m-t-2 ms-m-t-3 m-b-3 p-b-5 ms-p-b-2 ms-m-b-2 t-a-l z-400 t-t-u po-e-n">
  <div class="white w-100p ms-w-a">
    <h4 class="l-h-xs f-s-s">© 2017 machinify, all rights reserved<br>
  </div>
  <div class="pos-r d-f fx-r fx-w-w j-c-center w-100p ms-w-a a-i-center m-t-1 ms-m-t-0 m-b-0 po-e-a">
    <div class="social-icon w-1o25rem d-b m-r-1o5">
      <a href="https://www.facebook.com/machinify" target="_blank"><img src="/ui/assets/images/icons/facebook.svg" alt=""></a>
    </div>
    <div class="social-icon w-1o25rem d-b m-r-1o5">
      <a href="https://twitter.com/machinify" target="_blank"><img src="/ui/assets/images/icons/twitter.svg" alt=""></a>
    </div>
  </div>
</footer>
