  <div class="js-nav__wrapper pos-f w-fs t-0 l-0 z-400 white bg-black-30">
    <nav class="js-nav--main pos-r t-0 ms-t-2o5rem d-f w-fs ms-h-a j-c-center ms-j-c-between a-i-center fx-w-w m-t-05 ms-m-t-0 p-h-col1 ms-p-t-1o5 z-60 p-b-1 ms-p-b-0 po-e-n">
      <div class="logo pos-r d-n ms-d-f a-i-center h-2rem m-t-1 t-025rem m-b-1 ms-m-v-0 ms-m-r-2 po-e-a l-s-s">
        <img src="ui/assets/images/logo.svg" class="w-1o5rem m-r-1">MACHINIFY
      </div>
      <div class="menu w-100p ms-w-a d-f j-c-between ms-a-s-end m-t-05 ms-m-t-0 po-e-a">
        <h5 class="menu-item fx-1 t-a-c ms-t-a-l cur-p f-s-m ms-f-s-s">PLATFORM</h5>
        <h5 class="menu-item fx-1 ms-m-h-2 ms-m-r-0 t-a-r ms-t-a-l cur-p f-s-m ms-f-s-s">TEAM</h5>
        <h5 class="menu-item fx-1 ms-m-h-2 ms-m-r-0 t-a-r ms-t-a-l cur-p f-s-m ms-f-s-s">CONTACT</h5>
        <!-- <h3 class="menu-item ms-m-l-2 cur-p hov-op-70 f-s-m ms-f-s-l"><a href="store.html">STORE</a></h3> -->
      </div>
    </nav>
  </div>
