<div class="js-video__bg pos-f fs t-0 l-0 z-100 po-e-n op-0 vis-h trs-du-1">
  <div class="js-video__bg-fill pos-r w-100p h-100p bg-black-90"></div>
</div>
<div class="js-video pos-a ms-l-col1o5 w-fs ms-w-col9 h-fs z-200 image-fit vis-h op-0 po-e-n">
  <img src="{{bg}}" class="js-video__thumb pos-a t-0 l-0 w-100p h-100p">
  <div class="js-video__thumb-overlay pos-r d-f j-c-center a-i-center w-100p h-100p z-50 po-e-n">
    <div class="js-button--play d-n pos-r w-100px h-100px m-r-1 circle bd bd-w-4 white-30 cur-p">
      <div class="pos-a w-2rem center-hv">
        <svg class="pos-a w-100p m-l-025 center-hv white" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 35.4 35.4" enable-background="new 0 0 35.4 35.4" xml:space="preserve">
        <path d="M0,0l35.4,18.7L0,35.4V0z"/>
        </svg>
      </div>
    </div>
    <h3 class="vid-thumb__text pos-r f-s-m white op-0 vis-h">WATCH THE INTERVIEW</h3>
  </div>
  <div class="js-video__wrapper pos-a t-0 l-0 w-100p h-vid m-t-9 ms-m-t-3 vis-h z-50 po-e-a">
    <div class="js-video__close pos-a w-2rem d-f j-c-center a-i-center h-2rem t--2o5rem ms-t-05rem r-05rem ms-r--3rem cur-p bd circle gray z-200">
      <svg class="w-05rem h-05rem" version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 26.6 26.6" enable-background="new 0 0 26.6 26.6" xml:space="preserve">
      <rect x="-3.5" y="11.3" transform="matrix(0.7071 0.7071 -0.7071 0.7071 13.3138 -5.5149)" fill="#666" width="33.7" height="4"/>
      <rect x="11.3" y="-3.5" transform="matrix(0.7071 0.7071 -0.7071 0.7071 13.3142 -5.5149)" fill="#666" width="4" height="33.7"/>
      </svg>
    </div>
    <div class="js-sponsor pos-a t-100p w-100p z-200 white">
      <p class="gray f-s-xxs m-v-05 p-0 m-l-05 ms-m-l-0">This episode brought to you by:</p>
      <div class="ms-d-f a-i-stretch w-100p pos-r">
        <a href="//invisionapp.com" target="_blank" class="ms-w-100p d-f j-c-between a-i-center p-h-1 p-v-1 bg-black bd bd-c-white-10 rounded-5 m-h-05 ms-m-h-0">
          <div class="d-f j-c-start a-i-center">
            <img src="/ui/assets/images/ads/invision_logo_121x121.png" alt="" class="w-4rem m-r-1">
            <div>
              <h3 class="t-t-u f-s-m l-h-xs ms-l-h-s white">Invision—Design better. Faster. Together.</h3>
              <p class="white-50 m-v-0 p-0 f-s-xxxs">
                The world’s leading product design and collaboration platform.
              </p>
            </div>
          </div>
          <div class="d-n ms-d-f j-c-center a-i-center t-t-u font-headline f-w-700 l-s-s p-v-05 p-h-1 bd bd-c-magenta rounded-5 white">
            Learn More
          </div>
        </a>
      </div>
    </div>
    <!-- <iframe class="pos-a t-0 l-0 w-100p h-100p z-60" src="" frameborder="0" allowfullscreen></iframe> -->
    <div id="player" class="pos-f t-0 w-100p h-100p z-60 l--fs"></div>
    <script>
      var vidID = '{{vidID}}';
    </script>
    <script type="text/javascript" src="/ui/assets/scripts/player.js"></script>
  </div>
</div>
