<footer class="pos-a b-0 w-fs p-h-col05 m-b-1 m-t-2 ms-m-t-0 ms-b-3rem t-a-c z-400 t-t-u po-e-n">
  <div class="white-50 w-100p ms-w-a m-b-05 ms-m-b-3">
    <h4 class="l-h-xs f-s-s">© 2017 freelance.tv, all rights reserved<br>
    <span class="f-s-s ms-f-s-ms ms-l-h-s">Created, filmed, and produced by <a href="http://twitter.com/dannpetty" class='white po-e-a'>@dannpetty</a></span><span class="d-n ms-d-i f-s-s ms-f-s-ms ms-l-h-s"> for freelancers, by a freelancer.</span><br>
    <!-- <h4>Site Dev by <a href="http://twitter.com/narrowd" class='white'>@narrowd</a>, Music by <a href="http://twitter.com/spenhar" class='white'>@spenhar</a></h4> -->
    An Epicurrence Entertainment production.</h4>
  </div>
  <div class="pos-r d-f fx-r fx-w-w j-c-center w-100p ms-w-a a-i-center m-t-1 ms-m-t-0 m-b-3 ms-m-b-0 po-e-a">
    <div class="social-icon w-1o5rem d-b m-r-2">
      <a href="https://www.youtube.com/user/dannpetty" target="_blank"><img src="/ui/assets/images/icons/youtube.svg" alt=""></a>
    </div>
    <div class="social-icon w-1o5rem d-b m-r-1o5">
      <a href="https://www.facebook.com/freelancedottv" target="_blank"><img src="/ui/assets/images/icons/facebook.svg" alt=""></a>
    </div>
    <div class="social-icon w-1o5rem d-b m-r-1o5">
      <a href="https://twitter.com/dannpetty" target="_blank"><img src="/ui/assets/images/icons/twitter.svg" alt=""></a>
    </div>
    <div class="social-icon w-1o5rem d-b">
      <a href="https://www.instagram.com/dannpetty/" target="_blank"><img src="/ui/assets/images/icons/instagram.svg" alt=""></a>
    </div>
  </div>
</footer>
