<nav class="js-nav--fixed pos-f d-f j-c-between a-i-center w-fs t-0 l-0 l-h-0 ms-p-v-2 p-h-col05 z-500 bg-white black ov-h bd-b bd-light-gray">
  <div class="logo d-f a-i-center h-2rem m-t-1 m-b-1 ms-m-v-0 ms-m-r-2">
    <a href="/index.html" class="d-n ms-d-b">
      <img src="/ui/assets/images/logo_black.svg" class="h-1rem ms-h-1o5rem alt="">
    </a>
    <a href="/index.html" class="d-b ms-d-n fx-2 t-a-l">
      <img src="/ui/assets/images/logo_icon_black.svg" class="h-2o25rem alt="">
    </a>
  </div>
  <h3 class="back-to-top pos-a l-col05 center-v op-0">
    <a class="js-back-up-top f-s-ms bd-b l-h-xs black cur-p"><span>BACK UP TOP</span> <span class="pos-r f-s-s t--025rem">^</span></a>
  </h3>
  <div class="pos-a center-v ms-center-hv r-col05 ms-r-a">
    <div class="d-f a-i-center">
      <h5 class="m-r-1">SHARE:</h5>
      <div class="social-icon w-1o5rem m-r-1">

        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//freelance.tv{{fb}}" target="_blank" class="popup">

          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 24.9 24.9" enable-background="new 0 0 24.9 24.9" xml:space="preserve">
          <path fill="#121212" d="M23,1H2C1.5,1,1,1.5,1,2v21c0,0.5,0.4,1,1,1h11.2v-8.6h-2.9v-3.6h2.9V8.9c0-3,1.9-4.4,4.5-4.4
            c1.3,0,2.3,0.1,2.7,0.1v3.1l-1.8,0c-1.4,0-1.8,0.7-1.8,1.7v2.4h3.6l-0.7,3.6h-2.9l0.1,8.6H23c0.5,0,1-0.4,1-1V2
            C23.9,1.5,23.5,1,23,1z" />
          </svg>
        </a>
      </div>
      <div class="social-icon w-1o5rem m-r-1">

        <a target="_blank" class="popup" href="https://twitter.com/intent/tweet?text={{twitter}}">

          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="-21.9 741 72 72" enable-background="new -21.9 741 72 72" xml:space="preserve">
          <path fill="#121212" d="M878.9,1326.3c-22.4,11.2-46.2,15.4-72.8,19.6c26.6-15.4,46.2-37.8,53.2-68.6c-22.4,15.4-49,22.4-79.8,30.8
            c-22.4-22.4-57.4-37.8-92.4-37.8c-68.6,0-126,57.4-126,126c0,11.2,0,19.6,4.2,26.6c-103.6-4.2-193.3-53.2-257.7-130.2
            c-11.2,19.6-15.4,37.8-15.4,61.6c0,42,22.4,79.8,57.4,103.6c-19.6,0-37.8-7-57.4-15.4l0,0c0,61.6,42,110.6,99.4,121.8
            c-11.2,4.2-22.4,4.2-35,4.2c-7,0-15.4,0-22.4-4.2c15.4,49,61.6,88.2,119,88.2c-42,35-95.2,53.2-155.5,53.2c-11.2,0-19.6,0-30.8,0
            c57.4,35,121.8,57.4,189.1,57.4c226.9,0,354.3-189.1,354.3-354.3c0-4.2,0-11.2,0-15.4C841.1,1375.4,863.5,1352.9,878.9,1326.3"/>
          <path fill="#121212" d="M50.1,754.6c-2.6,1.3-5.4,1.8-8.6,2.3c3.1-1.8,5.4-4.4,6.3-8.1c-2.6,1.8-5.8,2.6-9.4,3.6
            c-2.6-2.6-6.8-4.4-10.9-4.4c-8.1,0-14.8,6.8-14.8,14.8c0,1.3,0,2.3,0.5,3.1c-12.2-0.5-22.7-6.3-30.3-15.3c-1.3,2.3-1.8,4.4-1.8,7.2
            c0,4.9,2.6,9.4,6.8,12.2c-2.3,0-4.4-0.8-6.8-1.8l0,0c0,7.2,4.9,13,11.7,14.3c-1.3,0.5-2.6,0.5-4.1,0.5c-0.8,0-1.8,0-2.6-0.5
            c1.8,5.8,7.2,10.4,14,10.4c-4.9,4.1-11.2,6.3-18.3,6.3c-1.3,0-2.3,0-3.6,0c6.8,4.1,14.3,6.8,22.2,6.8c26.7,0,41.7-22.2,41.7-41.7
            c0-0.5,0-1.3,0-1.8C45.7,760.4,48.3,757.7,50.1,754.6"/>
          </svg>
        </a>
      </div>
      <h5 class="m-h-1 d-n ms-d-ib">SUBSCRIBE/COMMENT:</h5>
      <div class="social-icon w-1o5rem">
        <a href="https://www.youtube.com/user/dannpetty" target="_blank">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="-21.9 741 72 72" enable-background="new -21.9 741 72 72" xml:space="preserve">
          <path fill="#121212" d="M49.4,761.5c0,0-0.7-5.3-3-7.6c-2.8-3.2-5.8-3.2-7.2-3.2C29.1,750,14.1,750,14.1,750l0,0c0,0-15,0-25.2,0.7
            c-1.4,0.2-4.4,0.2-7.2,3.2c-2.3,2.3-3,7.6-3,7.6s-0.7,6.2-0.7,12.5v5.8c0,6.2,0.7,12.5,0.7,12.5s0.7,5.3,3,7.6
            c2.8,3.2,6.2,3,7.8,3.5c5.8,0.7,24.5,0.7,24.5,0.7s15,0,25.2-0.9c1.4-0.2,4.4-0.2,7.2-3.2c2.3-2.3,3-7.6,3-7.6s0.7-6.2,0.7-12.5V774
            C50.1,767.5,49.4,761.5,49.4,761.5z M5.1,790.2v-27l22.4,13.4L5.1,790.2z"/>
          </svg>
        </a>

      </div>
    </div>
  </div>
  <div class="pos-a r-col05 d-f a-i-center center-v">
    <a href="http://twitter.com/{{twitter-user}}" target="_blank" class="pos-r d-f a-i-center">
      <div class="pos-r d-n ms-d-ib m-r-1 avatar circle w-3rem h-3rem">
        <img src="/ui/assets/images/people/{{first-last}}_avatar.jpg" alt="" class="pos-r w-100p bd bd-w-5 ms-bd-w-3 transparent">
        <div class="pos-a t-0 l-0 w-100p h-100p black-30 bd bd-w-1 ms-bd-w-2 circle center-hv"></div>
      </div>
      <div class="d-n ms-d-ib f-s-m ms-f-s-l gray">
        <h3>MY NAME IS <span class="black f-w-600 t-t-u">{{person}}</span></h3>
      </div>
    </a>
  </div>
</nav>
